@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('../node_modules/typeface-roboto-slab/files/roboto-slab-latin-400.woff2') format('woff2')
}

* {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  margin: initial;
  border: initial;
  background: initial;
}
html {
  background: #222;
  font-size: 20px;
  font-family: 'Roboto Slab', sans-serif;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.tool {
  z-index: 1;
  position: absolute;
}
.header {
  z-index: 1;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.nav {
  right: 1rem;
  bottom: 1rem;
}
.footer {
  left: 1rem;
  bottom: 1rem;
}
.button {
  background: rgba(255, 255, 255, 0.06);
  display: inline-block;
  transition: all 0.2s;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
}
.button:hover {
  color: rgba(255, 255, 255, 0.75);
  background: rgba(255, 255, 255, 0.12);
}
#name {
  font-weight: normal;
  font-size: 2rem;
}
#title {
  font-weight: normal;
  font-size: 1rem;
}
#next::after {
  content: 'Next';
}
#next:hover::after {
  content: 'N̶̢͇̹̣̮̟̓̔̋̈̕Ḕ̶̢̘̀̓̅̇͋̽̕X̷̞̯͓̻̖̒T̷̖͈̻͙͆̒̽̍́̂';
}
#link {
  position: absolute;
  right: 1000px;
}
